@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
     font-size: 62.5%;
}

body{
     text-align: center;
     font-family: Lato;
     background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.438),
          rgba(0, 0, 0, 0.8)),
          url(/photo-1599813391721-ed8c5fe98166.jpeg);
     }

h1{
     color:#ffffff;
     padding: 2rem;
     font-size: 5rem;
     font-weight:bolder;
} 
.information{
     text-align: center;  
     background-color: #BEB7DF;
     margin: auto;
     max-width:800px;
     width: 100%;
     height: 100%;
     box-shadow: 2px 5px 3rem #34113F;  
     margin-top: 3rem;
     font-size: 2.5rem;
     padding :3rem;
     line-height:1.5;
     display : block;
}
 
 .txt-triangle-desc{
     padding: 0.3rem;
     text-align: justify;
 } 
 
 .txt-triangle-desc ul{
     text-align: center;
     list-style: none;
 }
 
 .img-triangle{
     height: 80%;
     width: 80%;
     
 } 
 .btn-test{
     margin: 2rem auto;
     font-size : 2rem;
     padding:1rem;
     display: block;
 }

.btn-back{
     position: sticky;
     top: 0;
     height: 5rem;
     width: 5rem;
     border-radius: 50%;
     margin-left: 1rem;
}

.quiz-main{
     padding: 3rem;   
     display: none;  
     margin: auto;
     max-width:600px;
     width: 100%;
} 
.quiz-box{
     text-align: center;  
     background-color: #BEB7DF;
     height: 35rem;
     box-shadow: 2px 5px 3px #34113F;  
     margin-top: 3rem;
     padding :3rem;
     transition:0.15s;
}
.quiz-box:hover{
     box-shadow: 2rem 5rem 3rem #34113F;  
}

h2{
     font-size:3rem;
     margin-bottom : 1.5rem;
}

input,label{
     margin: 1rem  auto;
     display: block;
     width: 50%;
     background-color: beige;
     font-size: 1.5rem;
     text-align: center;
     font-weight: 900;
     padding:0.5rem;
     color:black;
}

button{
     padding: 1rem;
     border-radius: 0.8rem;
     display: block;
     margin: auto;
     font-size: 2rem;
     transition: 0.1s;
     font-weight: 600;
}
button:hover{
     box-shadow:2px 5px 3px #34113F;
     background-color:#b34ed1;

}
 .triangle_result,.hypotenuse_result,.area_result,.third_angle_result{
     padding:5px 0 5px 0;
     font-size: 22px;
     background-color:#0000005e;
     margin: 1rem;
     display:none;

}

footer{
     text-align: center;
}

@media only screen and  (max-width: 600px){
     body{
          padding:2rem;
          max-width:600px;
     }
     .quiz-box{
          max-width:500px;          
     }
     .information{          
          max-width:300px;
          font-size: 1.5rem;          
     }
     h1{
         font-size: 4.5rem;
     }
     
 }
 /*---------------------------------------------------------------------------------*/
   .question{
        width: 100%;
   }
   .radio input {
     cursor: pointer;
     display: inline-block;
   }
    .radio label {
     cursor: pointer;
     display: inline-block;
   }
    .output {
     display: none;
     height: 5rem;
     margin: auto;
     max-width:600px;
     width: 100%;
     background-color:white;
     border: 2px solid #ffffff;
     font-size: 2rem;
     font-weight: 500;
     margin-top: 4rem;
     text-align: center;
     padding: 1.2rem;
     margin-bottom: 3rem;
   }
   .quiz-main-box{
     padding: 3rem;   
     margin: auto;
     max-width:600px;
     width: 100%;
     text-align: center;  
     background-color: #BEB7DF;
     height: 25rem;
     box-shadow: 2px 5px 3px #34113F;  
     margin-top: 3rem;
     margin-bottom: 3rem;
     padding :3rem;
     transition:0.15s;
}
.link{
     text-decoration: none;
}
/* ----------------------------------Footer--------------------------------------------- */
.contacts {
     bottom: 1rem;
     font-size: 80%;
     text-align: center;
     max-width: 500px;
     margin: auto;
 }
 .footer-nav li,
 .social-links li {
     display: inline-block;
     margin-right: 20px;
     font-size: 2rem ;
     list-style: none;
 }
 .footer-nav li a:link,
 .footer-nav li a:visited, 
 .social-links li a:link,
 .social-links li a:visited {
     text-decoration: none;
     border: 0;
     color: #888;
     -webkit-transition: color 0.2s;
     transition: color 0.2s;
 }
 .social-links li a:link,
 .social-links li a:visited {
     font-size: 125%;
 }
 
 .ion-social-facebook,
 .ion-social-twitter {
     -webkit-transition: color 0.2s;
     transition: color 0.2s;
 }
 
 .ion-social-github:hover {
     color: #000000;
 }
 
 .ion-social-twitter:hover {
     color: #00aced;
 }
 
 .ion-social-linkedin:hover {
     color: #517fa4;
 }